@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem 6rem;
  background-color: #32383d;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

::selection {
  background-color: #8bbabb;
  color: #e7e7e7;
}

body {
  color: #e7e7e7;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

.heading-1 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.subheading-1 {
  color: #8bbabb;
}

.heading-2 {
  font-family: "Arapey", serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: -1.5px;
}

.subheading-2 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-transform: capitalize;
  margin-top: -3rem;
  margin-left: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  gap: 0.3rem;
  align-items: flex-end;
}
.header .logo__text {
  color: #8bbabb;
  font-size: 2.6rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
}
.header .logo__img {
  width: 2.2rem;
}
.header .nav__list {
  list-style: none;
  display: flex;
  gap: 4rem;
}
.header .nav__link:link, .header .nav__link:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.header .nav__link:hover, .header .nav__link:active {
  color: #8bbabb;
}
.header .nav__link:active {
  transform: translateY(10px);
}

.section-hero {
  height: 80vh;
  position: relative;
}
.section-hero .position {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
}
.section-hero .position__city {
  color: #8bbabb;
  margin-left: 1rem;
}
.section-hero .position__emoji {
  font-size: 4rem;
}
.section-hero .position p {
  margin-bottom: -1.6rem;
}
.section-hero .circle {
  position: absolute;
  width: 50.3rem;
  height: 50.3rem;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #8bbabb;
}
.section-hero .circle--fill {
  z-index: 1;
  box-shadow: 20px 20px 40px #2a2e33, -20px -20px 40px #3b4247, inset -40px -40px 80px #b0e6e6, inset 40px 40px 80px #537070;
}
.section-hero .circle--glow {
  border: 5rem solid #8bbabb;
  filter: blur(2.5rem);
  z-index: 0;
}
.section-hero .description {
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.section-hero .description__wrap {
  width: 50.3rem;
  height: 50.3rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
}
.section-hero .description__text {
  margin-top: 9rem;
}
.section-hero .illustration__main {
  width: 50.3rem;
  position: absolute;
  left: 50%;
  top: 50.3%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.section-hero .social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.section-hero .social-links__link:link, .section-hero .social-links__link:visited {
  text-decoration: none;
  color: #e7e7e7;
  transition: all 0.4s;
  padding: 0.2rem;
}
.section-hero .social-links__link:hover, .section-hero .social-links__link:active {
  color: rgba(139, 186, 187, 0.7);
  border-radius: 50px;
  background: #32383d;
  box-shadow: 5px 5px 21px #1f2326, -5px -5px 21px #454d54;
}
.section-hero .social-links__link:active {
  box-shadow: inset 5px 5px 10px #2c3136, inset -5px -5px 10px #383f44;
  transform: translateY(1px);
}
.section-hero .social-links__icon {
  font-size: 2.4rem;
}

/*# sourceMappingURL=styles.css.map */
